body{
    
    overflow-x: hidden;
}
.bg-img{
width: 100vw;
height: 300vh;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
z-index: -1;
filter: brightness(0.6);
}

ul{
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}
li{
  font-size: 1.3rem;
  font-weight: 400;
}
.details{
    margin-top: 140px;
    border-radius: 5px;
    height: auto;
    background-color: #274f51c2;
    padding: 40px;
    color: bisque;
}
.details h1{
    color: white;
}
.details p{
    font-size: 1.3rem;
    font-weight: 400;
}
.details h2{
    color: black;
}
#bold{
    font-weight: 600;
}
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 1220px;
    padding: 20px;
    width: auto;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 200px;
  }
  
  .cut-short {
    width: 200px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #274f51;
  }
  
  .submit {
    background-color: bisque;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #274f51;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
     outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #274f51;
  }
  .step{
    height: auto;
    width: auto;
    background-color: #274f51;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    border-radius: 15px;
    
    
    align-items: center;
  }
  .step:hover{
    background-color: #15172b;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }