{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
      {% block title %}
          <title> Landing Page </title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/land.css' %}">
    <link rel="stylesheet" href="{% static 'css/ten.css' %}">

{% endblock extrahead %}
{% block content %}

    <!-- header section starts  -->

    <header class="header">

        <a href="{% url 'home' %}" class="logo"> <img class="img-fluid" src="{% static 'images/apex_rent_logo1.jpg' %}" alt="" height="60px" width="60px"> </a>

        <nav class="navbar sticky-top navbar-expand-lg">
            <div id="nav-close" class="bi bi-x-lg"></div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'tenants' %}">Tenants</a>
            <a href="{% url 'landlord' %}">LandLord</a>
            <a href="{% url 'seller' %}">Seller</a>
            <a href="{% url 'investors' %}">Investors</a>
        </nav>

        <div class="icons">
            <div id="menu-btn" class="bi bi-list"></div>
            <!-- <a href="#" class="bi bi-cart"></a> -->
            <div id="search-btn" class="bi bi-home"></div>
        </div>

    </header>
    
    <!-- header section ends -->
    
    <!-- search form  -->
    
    <div class="search-form">
    
        <div id="close-search" class="bi bi-x-lg"></div>
    
        <form action="">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="bi bi-search"></label>
        </form>
    </div>
    
    <!-- home section starts  -->
    
    <section class="home" id="home">
    
        <div class="swiper home-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                    <div class="box" style="background: url('/static/images/home.jpg') no-repeat;">
                        <div class="content">
                            <span>{{ landing_data.header_mainheading }}</span>
                            <h2>{{ landing_data.header_subheading  }}</h2>
                            <h3 class="mt-4">{{ landing_data.header_caption }} </h3>
{#                            <a href="#" class="btn">get started</a>#}
                        </div>
                    </div>
                </div>
    
{#                <div class="swiper-slide">#}
{#                    <div class="box second" style="background: url('/static/images/home1.jpg') no-repeat;">#}
{#                        <div class="content">#}
{#                            <span></span>#}
{#                            <h3></h3>#}
{#                            <p></p>#}
{#                            <a href="#" class="btn">get started</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
    
{#                <div class="swiper-slide">#}
{#                    <div class="box" style="background: url('/static/images/home2.jpg') no-repeat;">#}
{#                        <div class="content">#}
{#                            <span></span>#}
{#                            <h3></h3>#}
{#                            <p></p>#}
{#                            <a href="#" class="btn">get started</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}


    
            </div>
    
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    
        </div>
    
    </section>

    <!-- home section ends -->

    <!-- category section starts  -->

    <section class="category">
        <h1 class="text-center">
            popular services
        </h1>
        <div class="row justify-content-evenly">
            <div class="col-sm-3" id="popular-areas">
                <a href="{% url 'tenants' %}">
                <div class="text">
                <img src="{% static 'images/tenant.jpg'%}" />
                </div>
                <div class="img">
                    <div class="centered"> TENANTS </div>
                    <img src="{% static 'images/home6.jpg'%}" height='100%' width='100%' />
                </div>
                </a>
            </div>
            <div class="col-sm-3" id="popular-areas">
                <a href="{% url 'landlord' %}">
                <div class="text">
                    <img src="{% static 'images/landlord.jpg'%}" height='100%' width='100%' />
                </div>
                <div class="img">
                    <div class="centered"> LANDLORDS</div>
                    <img src="{% static 'images/home8.jpg' %}" height='100%' width='100%' />
                </div>
                </a>
            </div>
            <div class="col-sm-3" id="popular-areas">
                <a href="{% url 'seller' %}">
                <div class="text">
                    <img src="{% static 'images/seller.jpg'%}" height='100%' width='100%' />
                </div>
                <div class="img">
                    <div class="centered">SELLER</div>
                    <img src="{% static 'images/home4.jpg' %}" height='100%' width='100%' />
                </div>
                </a>
            </div>
            <div class="col-md-3" id="popular-areas">
                   <a href="{% url 'investors' %}">
                <div class="text">
                    <img src="{% static 'images/investor.jpg'%}" height='100%' width='100%' />
                    
                </div>
                <div class="img">
                    <div class="centered">INVESTORS</div>
                    <img src="{% static 'images/home5.jpg'%}" height='100%' width='100%' />
              
                </div>
                   </a>
            </div>
        </div>


    </section>

    <!-- category section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
        <div class="image">
            <img src="{% static 'images/home1.jpg' %}" alt="">
        </div>
        <div class="content">
            <h1 class="mt-5">welcome</h1>
            <h3> {{ landing_data.welcome_text }} </h3>
        </div>

    </section>

    <!-- about section ends -->

    <section class="reviews" id="reviews">

        <h1 class="heading">WHAT OUR CLIENTS SAY</h1>

        <div class="swiper review-slider mt-5">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <p>Great agency. Fast and smooth process to move in to properties as well as constant guidance and
                        help where needed.</p>
                    <div class="user">
                        <img src="{% static 'images/pic-4.png' %}" alt="">
                        <div class="info">
                            <h3>Joe</h3>
                            <span>3 months ago</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Had a great experience with ApexRents. Jube was very helpful before, throughout and after my
                        tenancy and is extremely reliable and responsive.</p>
                    <div class="user">
                        <img src="{% static 'images/pic-2.png' %}" alt="">
                        <div class="info">
                            <h3>Frazer Stanford</h3>
                            <span>4 month ago</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>For the past few years I have been renting one of the properties managed by this agency. The moving process was really quick and efficient.</p>
                    <div class="user">
                        <img src="{% static 'images/pic-3.png' %}" alt="">
                        <div class="info">
                            <h3>Marco Del Roio</h3>
                            <span>2 weeks ago</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>I was looking for a place to rent and so I called them, and possibly the nicest man I've ever talked to answered me</p>
                    <div class="user">
                        <img src="{% static 'images/pic-5.png' %}" alt="">
                        <div class="info">
                            <h3>Foden</h3>
                            <span>15 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>I had a very good experience with ApexRents. Costa and Rube left no stone unturned in finding me the right tenant. </p>
                    <div class="user">
                        <img src="{% static 'images/pic-6.png' %}"alt="">
                        <div class="info">
                            <h3>Rose Dsouza</h3>
                            <span>1 year ago</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- reviews section ends -->


    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#home">home</a>
{#                <a href="#about">about</a>#}
            </div>

{#            <div class="box">#}
{#                <h3>extra links</h3>#}
{#                <a href="#">my account</a>#}
{#                <a href="#">my order</a>#}
{#                <a href="#">my wishlist</a>#}
{#                <a href="#">ask questions</a>#}
{#                <a href="#">terms of use</a>#}
{#                <a href="#">privacy policy</a>#}
{#            </div>#}

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> emmanuelade@apexrents.co.uk </a>
                <a href="#"> <i class="fas fa-map"></i> United Kingdom - </a>
            </div>

{#            <div class="box">#}
{#                <h3>follow us</h3>#}
{#                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>#}
{#                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>#}
{#                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>#}
{#                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>#}
{#                <a href="#"> <i class="fab fa-github"></i> github </a>#}
{#            </div>#}

        </div>

        <div class="credit">@Copyright 2024. APEX RENTS All Rights Reserved.</div>

    </section>

    <!-- footer section ends -->




{% endblock content %}