{%  extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}
{% endblock title %}

{% block extrahead %}
       <link rel="stylesheet" href="{% static 'css/ten.css' %}">
        <link rel="stylesheet" href="{% static 'css/land.css' %}">
        <style>
        
          label{
            font-size: 2rem;
          }
          .form-control,.form-select {
            background-color: #303245;
            border-radius: 12px;
            border: 0;
            box-sizing: border-box;
            color: #eee;
            font-size: 18px;
            height: 100%;
            outline: 0;
            padding: 4px 20px 0;
            width: 100%;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
         }
      </style>
{% endblock extrahead %}

{% block content %}
     <div class="container">
              {% include 'partials/_messages.html' %}
    </div>


  <img class="bg-img" src="{% static 'images/home5.jpg' %}" alt="background-image">
    <!-- header section starts  -->

    <header class="header">

        <a href="{% url 'home' %}" class="logo"> <img class="img-fluid" src="{% static 'images/apex_rent_logo1.jpg' %}" alt="" height="60px" width="60px"> </a>

        <nav class="navbar sticky-top navbar-expand-lg">
            <div id="nav-close" class="bi bi-x-lg"></div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'tenants' %}">Tenants</a>
            <a href="{% url 'landlord' %}">LandLord</a>
                        <a href="{% url 'project_quote' %}">Get Quote </a>
            <a href="{% url 'seller' %}">Seller</a>
            <a href="{% url 'investors' %}">Investors</a>
        </nav>

        <div class="icons">
            <div id="menu-btn" class="bi bi-list"></div>
           <!-- <a href="#" class="bi bi-cart"></a> -->
            <div id="search-btn" class="bi bi-home"></div>
        </div>

    </header>

    <!-- header section ends -->

    <!-- search form  -->

    <div class="search-form">

        <div id="close-search" class="bi bi-x-lg"></div>

        <form action="">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="bi bi-search"></label>
        </form>
    </div>
{#  <nav class="navbar sticky-top navbar-expand-lg">#}
{#    <div class="container-fluid">#}
{#      <a class="navbar-brand" href="{% url 'home' %}"><img class="img-fluid" src="{% static 'images/apex_rent_logo1.jpg' %}" alt="" height="60px" width="60px"></a>#}
{#      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"#}
{#        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#        <div class="navbar-nav ms-auto">#}
{#          <a class="nav-link" href="{% url 'home' %}">Home</a>#}
{#            <a class="nav-link" href="{% url 'tenants' %}">Tenants</a>#}
{#            <a class="nav-link" href="{% url 'landlord' %}">LandLord</a>#}
{#            <a class="nav-link" href="{% url 'seller' %}">Seller</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </nav>#}
  <div class="container details">
    <div class="row">
      <h1> Get Quote </h1>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
           <img src="{% static 'images/get_quote_image_1.jpg' %}" class="img-fluid"> 
       </div> 
    </div>
    <div class="row mt-5">  
        <div class="col-md-1"></div>
      <div class="col-md-10 mt-3">
          <form action="{% url 'project_quote' %}" method="post">
              {% csrf_token %}
          <div class="form">
{#            <div class="title">Looking for a property to rent?</div>#}
{#            <div class="subtitle">Please complete the form below to register with us.</div>#}
     
                {{ form | crispy }}
               <button type="text" class="submit">Submit</button>

          </div>
               
                </form>
          </div>
      </div>
    </div>
  </div>




{% endblock content %}